.content-header
  .container
    %br
    %h1 About Us

.content-container.brown-background
  .row
    .col-sm-4.col-sm-offset-2
      .team-container.centered
        = image_tag 'team/kyle.jpg', class: 'img-responsive img-team'
        %h3
          Kyle Rand
        %p
          Kyle is an engineer and developer born and raised in Upstate NY. He is currently based in Boston, working on a number of community-driven health and research projects. He fell in love with nature while studying in New Zealand, and is excited to help with conservancy!
      %br
    .col-sm-4
      .team-container.centered
        = image_tag 'team/sam.jpg', class: 'img-responsive img-team'
        %h3
          Samantha Sebastian
        %p
          Sam is the best friend anyone could ever hope for, with an amazingly positive outlook on life. She deserves to be happy working on a project that can make a difference, and I hope this will help. Happy Birthday Sam!
