#slide1
  .container
    #dalai-lama-quote
      %h1.amatic
        The roots of all goodness
        %br
        lie in the soil of
        %br
        appreciation for goodness
      %span.amatic Dalai Lama

#slide2
  .container
    .row
      .col-sm-8
        %h2.poiret
          With all that happens in today's world, it's easy to forget to show our appreciation for the people that matter most to us.
        %br
        %h2.poiret.bold.captivate
          But it doesn't have to be.
      .col-sm-4
        = image_tag 'trees/1.png', class: 'img-responsive'

#slide3
  .container
    %h2.poiret
      %span.bold.brown Roots of Goodness
      wants to make it simple to show your appreciation for all of the good that others do.

#slide4
  .container
    %p.lead400
      Is there somebody in your life that you look up to? Somebody that goes out of their way everyday to make the world a better place? Somebody that radiates positivity and goodness so much, but is not recognized frequently enough?
    %p.lead400
      We want to help you spread the word about their goodness! Submit their story, and a custom page will be created in honor of them and the impact they have had. Share it with them, and share it with others so they can add their stories and appreciation.
    %h2.poiret.bold{ style: 'margin-bottom: 20px; '}
      Plus, you'll be directly making the world a better place.
    %p.lead400
      Every recognition comes with an optional donation to the Nature Conservancy's Plant a Billion Trees campaign. Along with your appreciation, you'll be planting trees in their honor and helping with reforestation efforts.

#slide5
  .container
    %h3.poiret.centered
      Honor the work of others, and make the world a better place at the same time.
      %br
      %br
      %span.bold{ style: 'font-size: 29px' } Could anything be better?
    %br
    %br
    .centered= link_to 'Get Started', new_receiver_path, class: 'btn btn-success btn-lg'
