// Place all the styles related to the receivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.receiver-container {
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px #fff;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;

  img.receiver-photo {
    border-radius: 10%;
    box-shadow: 2px 2px 5px #777;
    margin: auto;
    max-width: 350px;
  }

  h3 {
    margin-bottom: 18px;
  }

  .tribute-counter {
    position: absolute;
    bottom: 4px;
    right: 5px;

    img {
      display: inline;
      max-width: 25px;
    }

    span {
      margin-left: -3px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.receiver-container-hover:hover {
  background-color: #E5F7E6;
  box-shadow: 2px 2px 2px 2px #E5F7E6;
}

.receiver-index-link {
  text-decoration: none;
  color: black;
}

.receiver-index-link:hover {
  text-decoration: none;
  color: black;
}
